# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      # Run the linter with --fix to auto-fix issues
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format
